{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
  &rsaquo; {% trans "Clear API Cache" %}
</div>
{% endblock %}

{% block content %}
<div class="module aligned">
  <h2>{% trans "Clear API Cache" %}</h2>
  <p>{% trans "This will clear all entries in the API cache. Are you sure?" %}</p>
  <form method="post">
    {% csrf_token %}
    <div class="submit-row">
      <input type="submit" value="{% trans "Clear API Cache" %}" class="default">
      &nbsp;
      <a href="{% url 'admin:index' %}">{% trans "Cancel" %}</a>
    </div>
  </form>
</div>
{% endblock %}
