{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
  &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
<div class="module aligned">
  <h2>{{ title }}</h2>
  <p>This will clear all entries in the {{ cache_name }} cache. Are you sure?</p>
  <form method="post">
    {% csrf_token %}
    <div class="submit-row">
      <input type="submit" value="{{ title }}" class="default">
      &nbsp;
      <a href="{% url 'admin:index' %}">{% trans "Cancel" %}</a>
    </div>
  </form>
</div>
{% endblock %}
