{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
<div class="module" style="margin-bottom: 1em;">
  <table>
    <caption>
      <a href="{% url 'admin:clear_api_cache' %}" class="section">{% trans "Management" %}</a>
    </caption>
    <tbody>
      <tr>
        <th scope="row">API Cache</th>
        <td><a href="{% url 'admin:clear_api_cache' %}">{% trans "Clear" %}</a></td>
      </tr>
      <tr>
        <th scope="row">AI Cache</th>
        <td><a href="{% url 'admin:clear_ai_cache' %}">{% trans "Clear" %}</a></td>
      </tr>
    </tbody>
  </table>
</div>
{{ block.super }}
{% endblock %}
